@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);


body {
    padding: 0px;
    margin: 0px;
    font-family: 'Oswald', sans-serif;
}

ul {
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    position: absolute;
    height: 60px;
    width: 100%;
    background-color: #2f4f4f;
}

.navTab {
    list-style: none;
    float: left;
    width: 20%;
    text-align: center;
    line-height: 60px;
    color: #ffffff;
    height: 60px;
}

#navTabaddEntry:hover {
    cursor: pointer;
    background-color: #437070;
}

img {
    max-width:100%;
    max-height:100%;
    margin:auto;
    display:block;
}