.calendarEntrys {
    
    padding-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

.calendarEntry {
    list-style: none;
    background-color: lightgray;
    margin-top: 20px;
    padding-left: 0px;
    border-left: 0px;
    margin-left: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
td,th {
    width: 15%;
    height: 1em;
    border-style: solid;
    border-width: 3px;
    padding-left: 10px;
}

.calenderEntryTitle{
    width: 65%;
}

.calenderEntryOrganizer {
    width: 65%;
}

.calenderEntryPic {
    width: 20%;
    height: 7em;
}