#coverback{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
}
.overlay
{
    width: 21em;
    background-color: #5c5c5c;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-left: -11.5em;
    z-index: 10;
    display: none;
    border-color: white;
    border:5px solid ;
    border-radius: 10px;
}
.visible {
    display: block !important;
    opacity: 2 !important;
}

.cancel
{
    display: block;
    position: absolute;
    top: 3px;
    right: 2px;
    background: #5c5c5c;
    color: black;
    height: 30px;
    width: 35px;
    font-size: 30px;
    vertical-align: -10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
.cancel:hover 
{
    cursor: pointer;
}

form {
    width: 20em;
    padding-top: 3em;
    position: relative;
}

input {
    margin-right: 5%;
    margin-left: 30%;
    margin-bottom: 5px;
    padding: .2em .5em;
    width: 60%;
    background-color: #fffbf0; 
    border: 1px solid #e7c157;
    box-sizing: border-box;
}

label {
    text-align: left;
    width: 30%;
    position: absolute;
    left: 0;
    margin-left: 5%;
    margin-bottom: 5px;
}

select {
    margin-right: 5%;
    margin-left: 30%;
    margin-bottom: 5px;
    padding: .2em .5em;
    width: 60%;
    background-color: #fffbf0; 
    border: 1px solid #e7c157;
    box-sizing: border-box;
}

button {
    background-color: #d3d3d3;
}

#status {
    margin-right: 5%;
    margin-left: 30%;
    margin-bottom: 5px;
    padding: .2em .5em;
    width: 60%;
    background-color: #fffbf0; 
    border: 1px solid #e7c157;
    box-sizing: border-box;
}
#allday {
    width: initial;
}

#choosePic {
    margin-left: 10%;
    width: 80%;
}

.submit {
    background-color: #d3d3d3;
}

#rightClick {
    position: fixed;
    z-index: 5;
    display: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 0;
}
#rightClick ul{
    padding-left: 0px; 
    margin: 0px;
}
#rightClick li{
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
}

#rightClick li:hover{
    background-color: #ddeeff;
}